<!doctype html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{!-- navbar --}}
  {{>navbar}}

  <!-- main header -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!-- right side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
              <figure>
                  <img src="images/about.png" alt="chaitanya" class="img-fluid" title="CP_TheBrandRoot">
              </figure>
            </div>
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_left">
              <p>Welcome to, CP_TheBrandRoot World</p>
              <h1>I am A <span class="span">Student</span> and I want to become a Web Developer</h1>
              <a href="/info" target="_blank"><button>About Me</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- footer section -->
{{>footer}}

</body>

</html>

