<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="stylesheet" href="css/style.css"> -->
  <title>About -Chaitanya Pansare</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500&display=swap');
  html{
    font-size: 62.5%;
  }
  body{
    background-color: rgb(241, 238, 238);
    font-family: 'Piazzolla', serif;
  }
  
  #first{
    background-color:#fff;
    border-radius: 22px;
    padding: 2rem;
  }
  #footer-sidebar{
    color: white;
    background-color: #485460;
    padding: 22px 0px;
    font-family: 'Philosopher', sans-serif;
}

.footer-widget ul li{
    list-style:none;
    margin-bottom: 5px;
}

.footer-widget ul li::before{
    content:"\f101";
    font-family: FontAwesome;
    padding-right: 5px;
}

.footer-widget ul li a{
    text-decoration: none;
    color: white;
}

#footer{
    color: white;
    background-color: #2d363d;
    font-family: 'Philosopher', sans-serif;
}
.footer-widget h4{
  font-size: 2rem;
}
.footer-widget{
  font-size: 1.5rem;
}
.footer-widget h4::after{
    content: "";
    width: 55px;
    height: 3px;
    display: block;
    background-color: white;
    margin-top: 6px;
    margin-bottom: 12px;
}
#copyright{
    margin-top: 11px;
    font-size: 1.6rem;
}

#social-icons li{
    list-style: none;
    display: inline-block;
    margin: 0%;
    padding: 0%;
}

#social-icons li a{
    text-decoration: none;
    font-size: 2.7rem;
    color: white;
    margin: 11px 7px;
}
#social-icons li a:hover{
    color: rgb(247, 123, 77);
}

/* media query */
@media screen and (max-width: 768px) {
  html{
    font-size: 55%;
  }
  .info{
    margin: 2rem 0;
  }
  .footer-widget{
    margin: 2rem 0;
  }
  #copyright{
    text-align: center;
  }
  #social-icons{
    text-align: center;
  }
}
</style>
<body>

  <nav class="navbar navbar-light" style="background-color: #485460; ">
    <div class="container">
      <a class="navbar-brand" href="info.html">
        <img src="images/logo.png" alt="" class="img-fluid" width="10%" height="10%">
      </a>
    </div>
  </nav>

    <div class="container my-5 p-4" id="first">
      <div class="row col-12">
        <div class="col-md-6 info">
          <h1 class="my-3"  style="text-transform: capitalize; font-size: 4rem; color: orangered;">Information about chaitanya ganesh pansare...</h1>
            <p class="my-4" style="font-size: 2rem;">I am the student of the government polytechnic pune but Now I am trying to learn the web developement with help of 
              online platform there were many projects created by me. For information contact me as following information...
            </p>
        </div>
        <div class="col-md-6 info">
          <img src="images/info.png" alt="pansare chaitanya ganesh" title="cp the brand root" class="img-fluid" width="70%" height="70%" >
        </div>
      </div>
      <div class="row col-12 p-4">
        <div class="col-md-8 my-5">
          <figure class="">
            <img src="images/info2.png" alt="" class="img-fluid" width="77%" height= "77%">
          </figure>
        </div>
        <div class="col-md-4 my-5">
          <h1 class="my-3"  style="text-transform: capitalize; font-size: 4rem; color: orangered;">Be a web developer...</h1>
          <p style="font-size: 2rem; ">
            Web development is the building and maintenance of websites; it's the work that happens behind the scenes to make a website look great...
            making the Responsive websites is the best skill of any web developer...
          </p>
        </div>
      </div>
    </div>

     <!-- footer-sidebar -->
    <div id="footer-sidebar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h4>Contact Me</h4>
                        <p>
                          My Personal Number: 9975664857 <br>
                          E-mail: chaitanyapansare111@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-widget">
                        <h4>My Inspiration</h4>
                        <ul>
                            <li>“ The pessimist sees difficulty in every opportunity...”</li>
                            <li> “ Don't let yesterday take up too much of today...”</li>
                            <li> “ You learn more from failure than from success...”</li>
                            <li>“ If you are working on something that you really care about, you don't have to be pushed...”</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer-widget">
                        <h4>Company Address</h4>
                        <address>
                            <span style="border-bottom: 1.55px solid white;">CP_TheBrandRoot, Inc. Pune,</span><br>
                            555 pansare industry, JUNNAR <br>
                            PUNE 410502 MAHARASTRA, INDIA... <br>
                            P: (968) 534-1039
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="copyright">Copyright &copy; 2021-2022 Cp_TheBrandRoot.com | All Rights are Reserved!</div>
                <div class="col-md-6">
                    <div id="social-icons" class="float-md-end">
                        <li><a href="" class="fa fa-facebook-official"></a></li>
                        <li><a href="" class="fa fa-instagram"></a></li>
                        <li><a href="" class="fa fa-whatsapp"></a></li>
                        <li><a href="" class="fa fa-twitter-square"></a></li>
                        <li><a href="" class="fa fa-linkedin-square"></a></li>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <!-- Option 2: My own js file -->

</body>
</html>

