<!doctype html>
<html lang="en">

<head>
        {{>headerlinks}}
</head>

<body>
    
    {{!-- navbar --}}
    {{>navbar}}

                <!-- main header -->
    <div class="col-md-10 mx-auto p-4 mt-2" id="main-box">
        <h1 class="head3 text-center" id="news-welcome-header">
           <i class="fa fa-th me-1"></i> Sorry for inconvenience, Our team working on it...
        </h1>
    </div>

    {{>footer}}
   
</body>
</html>